<!--Jumbotron/Header-->
<section id="header" class="jumbotron text-center">
    <h1 class="display-3"> RWB Car Customer Logs </h1>
</section>

<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h3 class="card-title">Add Customer</h3>
                    <form class="centerForm" action="/customer" method="post">
                        <fieldset>
                            <div>
                                <label for="customer">Customer First Name:
                                    <input type="text" name="first_name" id="customerFirstName" required>
                                </label>
                                <label for="customer">Customer Last Name:
                                    <input type="text" name="last_name" id="customerLastName" required>
                                </label>
                                <label for="customer">Customer Phone Number:
                                    <input type="number" name="phone_number" id="customerPhoneNumber" required>
                                </label>
                                <label for="customer">Customer Email Address:
                                    <input type="email" name="email_address" id="customerEmailAddress" required>
                                </label>
                            </div>
                            <input type="submit" value="Add Customer" id="addCustomer">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h3 class="card-title">List Of Customers (To be populated by DB)</h3>
                    <!-- Added class table table-striped-->
                    <table class="table table-striped" border="1" width="400" height="80" align="left">
                        <tr>
                            <td>First Name </td>
                            <td>Last Name </td>
                            <td>Phone Number </td>
                            <td>Email </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{#each customers}}
                        <tr>
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <td>{{phone_number}}</td>
                            <td>{{email_address}}</td>
                            <td>
                                <button type="button" cust-id="{{customer_id}}">
                                    <a href="/customer/edit/{{customer_id}}">EDIT</a>
                                </button>
                            </td>
                            <td>
                                <form action="/customer/{{customer_id}}?_method=DELETE" onsubmit="();return false"
                                    method="POST">
                                    <button type="submit"> DELETE</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>