<!--Jumbotron-->
<section id="header" class="jumbotron text-center">
    <h1 class="display-3"> Car Inventory </h1>
</section>

<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-left my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <!-- Search Form -->
                    <form action="/inventory" method="get">
                        <fieldset>
                            <legend>
                                <h3>Search Car in RWB Database</h3>
                            </legend>
                            <p>
                                <label for="price-range">Desired price range: </label>
                                <select name="price" id="price-range">
                                    <option value="500000"> null </option>
                                    <option value="10000"> $10,000 </option>
                                    <option value="20000"> $20,000 </option>
                                    <option value="30000"> $30,000 </option>
                                    <option value="40000"> $40,000 </option>
                                    <option value="50000"> $50,000 </option>
                                    <option value="75000"> $75,000 </option>
                                    <option value="100000"> $100,000 </option>
                                    <option value="200000"> $200,000 </option>
                                    <option value="300000"> $300,000 </option>
                                    <option value="500000"> $500,000 </option>
                                </select>

                                <label for="car-year">Desired car year: </label>
                                <select name="year" id="car-year">
                                    <option value="1900"> null </option>
                                    <option value="1990"> 1990 </option>
                                    <option value="1995"> 1995 </option>
                                    <option value="2000"> 2000 </option>
                                    <option value="2005"> 2005 </option>
                                    <option value="2010"> 2010 </option>
                                    <option value="2015"> 2015 </option>
                                    <option value="2020"> 2020 </option>
                                </select>
                            </p>
                            <button type="submit"> Submit </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-left my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h3 class="card-title">Search Results(Sample)</h3>
                    <table class="table table-striped" border="1" width="400" height="80" align="left">
                        <tr>
                            <td> Price </td>
                            <td> Make </td>
                            <td> Model </td>
                            <td> Year </td>
                            <td> Mileage </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{#each cars}}
                        <tr>
                            <td> {{price}} </td>
                            <td> {{make}} </td>
                            <td> {{model}} </td>
                            <td> {{year}} </td>
                            <td> {{mileage}} </td>
                            <td>
                                <button type="button">
                                    <a href="/inventory/edit/{{car_id}}">EDIT</a>
                                </button></td>
                            <td>
                                <form action="/inventory/{{car_id}}?_method=DELETE" onsubmit="();return false" method="POST">
                                    <button type="submit"> DELETE</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add car-->
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-left my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h3 class="card-title">Add New Car</h3>
                    <form class="centerForm" action="/inventory" method="POST">
                        <fieldset>
                            <div>
                                <label for="car">Car Price:
                                    <input type="number" name="price" id="carPrice" required>
                                </label>
                                <label for="car">Car Maker:
                                    <input type="text" name="make" id="carMake" required>
                                </label>
                                <label for="car">Car Model:
                                    <input type="text" name="model" id="carModel" required>
                                </label>
                                <label for="car">Car Year:
                                    <input type="number" name="year" id="carYear" required>
                                </label>
                                <label for="car">Car Mileage:
                                    <input type="number" name="mileage" id="carMileage" required>
                                </label>
                            </div>
                            <input type="submit" value="Add Car" id="addCar">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>